@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');


body {
    background: #d9d9d9;
    font-family: sans-serif;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

#book {
    width: 100svh;
    height: 100svh;
}

#book,
#book .page {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard */
}

.page {
    background-image: url(assets/img/paper.jpg);
    background-size: cover;
    line-height: 1.5;
    text-align: center;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

/* cover styles */

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.cover .title {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.cover .text {
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
}

.cover img {
    width: 300px;
    border-radius: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.4);
}

/* timeline styles */

.timeline {
    display: flex;
    align-items: center;
    position: relative;
    border-top: 2px solid #000;
    padding-top: 60px;
    max-width: 1000px;
    width: 90%;
}

.event {
    text-align: center;
    flex: 1;
    position: relative;
}

.event::before {
    content: '';
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px;
    background-color: #000;
}

.icon {
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow: -1px 0px 2px rgba(0,0,0,0.4);
}

.date {
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
    text-shadow: -1px 0px 2px rgba(0,0,0,0.4);
}

.label {
    margin-top: 4px;
    font-size: 18px;
    text-shadow: -1px 0px 2px rgba(0,0,0,0.4);
}

.timeline::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    height: 20px;
    border-left: 2px solid #000;
}

.calendar-container {
    padding: 20px 40px 40px 40px;
}

.calendar-container img {
    width: 330px;
    border-radius: 10px;
}

.calendar-container hr {
    width: 70%;
}

.calendar {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    direction: rtl;
}

.calendar-header {
    text-align: center;
    font-size: 35px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.days div {
    padding: 10px 0;
}

.days .past {
    color: rgba(0, 0, 0, 0.2);
}

.days .fri {
    color: red;
}

.song {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.firstdate,
.gift,
.distance,
.movie,
.background,
.planet {
    width: 90%;
    inset: 0;
    margin: auto;
    position: absolute;
    border-radius: 10px;
}

.wallpaper {
    width: 310px;
    inset: 0;
    margin: auto;
    position: absolute;
}

.page .header {
    margin: 0;
    margin-top: 24px;
    font-size: 1.9rem;
    color: #555;
    text-shadow: -1px 0px 2px rgba(0,0,0,0.4);
    box-sizing: border-box;
    font-family: "Gulzar", serif;
}

.backCover {
    width: 80% !important;
    border-radius: 5px !important;
    margin-top: 3.4rem !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    border: none !important;
}